form{
    display: flex;
    flex-direction: column;
}

h1, h2, h3{
    text-align: center;
}
h1{
    margin: 2em 0;
    margin-bottom: 0;
    color: var(--color-principal);
}
h3{
    margin-bottom: 3em;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 0;
    margin-right: auto;
    margin-left: 19em;
    max-width: 400px;
}

label{
    display: flex;
    justify-content: space-between;
    margin: 0.8em 0;
}

form label input{
    width: 60%;
}

button{
    background: var(--color-principal);
    color: var(--color-fondo);
    padding: 0.8em;
    font-size: 1em;
}

form button{
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
}

button:hover{
    cursor: pointer;
}

form a{
    margin: 0 auto;
    margin-top: 0.5em;
    text-align: center;
    color: var(--color-secundario);
    width: fit-content;
}